//
// Modal
// --------------------------------------------------

@import '../../../../globals/variables.scss';

.modal-open .container-fluid,
.modal-open .breadcrumb-wrapper,
.modal-open .component-badge-statusbar {
  filter: blur(.4375rem);
}

.modal-backdrop {
    opacity:0.5 !important;
}

.modal {
  margin-top: 5rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }
}

.modal-header {
  border-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;

  h1 {
    font-size: rem(16);
  }

  .modal-close {
    color: $color-white;
    opacity: 1;
    position: absolute;
    top: rem(-25);
    right: 0;
    text-shadow: none;
    font-size: rem(14);
    background: transparent;
    border: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1;

    &:focus,
    &:active {
      color: $color-squash;
      box-shadow: none;
      background: transparent;
      padding: 0;
      margin: 0;
    }
  }
}

.modal-dialog {
  max-width: rem(590);
  position: relative;
  width: auto;
  margin: 1.75rem auto;
  pointer-events: none;

  &.modal-lg {
    max-width: rem(860);
  }

  .modal-content {
    border-radius: 0;
    border: .0625rem solid $color-cloudy;
    border-bottom: .1875rem solid $color-cloudy;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
  }

  .modal-body {
    padding: 0 1rem .5rem;
    position: relative;
    flex: 1 1 auto;
  }

  .modal-footer {
    border-top: 0;
  }
}

.modal-warning {
  .modal-dialog {
    .modal-header {
      h2 {
        color: $color-squash-d35;
      }

      .close {
        color: $color-squash-d35;
      }
    }

    .modal-content {
      border-radius: 0;
      border: .0625rem solid $color-squash;
      border-bottom: .1875rem solid $color-squash;
    }
  }
}

.modal-danger {
  .modal-dialog {
    .modal-header {
      h2 {
        color: $color-tomato;
      }

      .close {
        color: $color-tomato;
      }
    }

    .modal-content {
      border-radius: 0;
      border: .0625rem solid $color-tomato;
      border-bottom: .1875rem solid $color-tomato;
    }
  }
}

.modal-success {
  .modal-dialog {
    .modal-header {
      h2 {
        color: $color-apple;
      }

      .close {
        color: $color-apple;
      }
    }

    .modal-content {
      border-radius: 0;
      border: .0625rem solid $color-apple;
      border-bottom: .1875rem solid $color-apple;
    }
  }
}
