@import './variables.scss';

input,
select,
textarea {
  // Bootstrap transitions look really weird when used with our borders
  transition: none !important;
}

.form-inline {
  flex-flow: row;

  > input {
    margin-right: .625rem;
  }

  .form-group {
    // Override bootstrap at xs sizes
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }
}

.label,
.card .label,
.form-group > label,
.form-group > legend,
.input-group-horizontal > .label-group > label {
  padding: 0 0 rem(6);
  font-size: rem(14);
  font-weight: bold;
  color: $body-color;
  margin-bottom: 0;

  &.h2 {
    font-size: $h2-font-size;
    padding: 0;
    margin-bottom: 1rem;
  }

  &.p {
    font-weight: normal;
  }
}

.form-control {
  border: 0;
  border-radius: 0;
  margin: 0;
  background: none;
  height: auto;

  &.input-group {
    padding: 0;
    z-index: initial;
  }

  &[type] {
    height: 2.5rem;
    border: $px1 solid $color-cloudy;
    background: $color-white;
    width: 100%;
  }

  &.has-info {
    border-color: $color-lavender;
  }

  // All invalid inputs will have this attribute
  &[aria-invalid=true] {
    border-color: $color-tomato;
  }

  &:focus {
    border-color: $color-squash;
    border-width: $px2;
    padding: pluspx(.5rem, -1) pluspx(.75rem, -1);
    box-shadow: none;
  }

  &:disabled,
  &[readonly] {
    border-color: $color-black-l80;
    background-color: $color-black-l95;
    cursor: not-allowed;

    &:focus {
      border-color: $color-squash;
    }
  }

  &[readonly]::placeholder {
    color: $color-white;
  }

  &:disabled {
    &::placeholder {
      color: $color-black-l80;
    }
  }
}

//
// Textarea
// --------------------------------------------------

textarea.form-control {
  border: $px1 solid $color-cloudy;
  background: $color-white;
  padding: rem(10) .75rem;

  &:focus {
    border-color: $color-squash;
    padding: pluspx(rem(10), -1) pluspx(.75rem, -1);
  }
}

//
// Validation & info messages
// --------------------------------------------------

%validation-container {
  display: table;
  color: $color-white;
  padding: rem(6) rem(13) rem(7);
  position: relative;
  z-index: 1;

  &:empty {
    display: none;
  }

  &::before {
    font-family: FontAwesome;
    font-weight: normal;
    padding-right: rem(9);
  }

  > ul {
    margin-top: .5rem;
  }
}

.form-control-info {
  @extend %validation-container;

  background: $color-lavender;

  &::before {
    content: '\f05a';
  }
}

abbr.required-marker {
  color: $color-tomato-d10;
  text-decoration: none;
  border-bottom: 0;
}

// Don't use the :invalid status, nightmare
:invalid {
  box-shadow: none;
}

.form-control-invalid,
.form-invalid {
  @extend %validation-container;

  background: $color-tomato;
  border-color: $color-tomato;

  &::before {
    content: '\f05e';
  }
}

.form-invalid {
  background: transparent;
  color: $color-tomato;
  padding-left: 0;
}

.form-control-invalid {
  border-width: 0 $px1;

  .form-check-group + & {
    margin-top: rem(10);
  }

  .form-check-inline + & {
    margin-top: rem(5);
  }
}
