$color-black: #000;
$color-black-l95: lighten($color-black, 95%);
$color-black-l85: lighten($color-black, 85%);
$color-black-l70: lighten($color-black, 70%);
$color-black-l60: lighten($color-black, 60%);
$color-black-l20: lighten($color-black, 20%);
$color-white: #fff;
$color-cloudy: #a5c3cf;
$color-lavender: #bd10e0;
$color-tomato: #e32222;
$color-squash: #f5a623;


$px1: 1px;
$px2: 2px;
$px3: 3px;
$px4: 4px;
$px5: 5px;